﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #c3edf7;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0) 80%);
    background-attachment: fixed;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

table {
    border: 1px solid black;
}

tr, td {
    border: 1px solid black;
}

td {
    text-align: left;
}

.flex-center {
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#weather {
    margin-bottom: 20px;
    border-color: #749299;
    background-color: white;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
}

    #weather th,
    #weather td {
        padding: 3px;
        border-color: #749299;
    }

#feed {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 25px 40px;
    border-radius: 20px;
}

#feed .tweet {
    padding: 25px 40px;
    background-color: white;
    border: 1px solid #abd1db;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
}