﻿@model WeatherInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="flex-center">
        <table id="weather">
            <tr>
                <th colspan="2">Weather information</th>
            </tr>
            <tr>
                <td rowspan="2"><img src=@ViewBag.weatherIcon /></td>
                <td>
                    <img src=@ViewBag.imageUrl /> @ViewBag.info
                </td>
            </tr>
            <tr>
                <td>@ViewBag.temperature</td>
            </tr>
        </table>
    </div>
    <div id="feed">
        @if (ViewBag.tweetResult != null)
        {
            foreach (var status in ViewBag.tweetResult.statuses)
            {
            <div class="tweet">
                @status.text
            </div>
            }
        }
        else
        {
            <div>
                Sorry, no tweets to display!
            </div>
        }
    </div>
</div>
