﻿@model WeatherInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="flex-center">
        <table id="weather">
            <tr>
                <th colspan="2">Weather information</th>
            </tr>
            <tr>
                <td rowspan="2"><img src=@ViewBag.weatherIcon /></td>
                <td>
                    <img src=@ViewBag.imageUrl /> @ViewBag.info
                </td>
            </tr>
            <tr>
                <td>@ViewBag.temperature</td>
            </tr>
        </table>
    </div>
    <div style="margin-top: 50px; font-size: 1.5em;">
        <a href="/Home/Feed">Log in to see tweets from your area!</a>
    </div>
</div>
